button {
  height: 5vh;
  width: 10vw;
  background: none;
  align-self: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1.3px solid lightgray;
}

button:hover {
  transform: scale(1.05);
  background-color: lightgray;
}

button:active {
  transform: scale(1.1);
}
