body {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: darkslategray;
}

#root {
    width: 100%;
}

.header-wrap {
    border: 1px solid lightslategray;
    width: 100%;
}

.trips-wrap {
    margin: 1px 0;
    display: flex;
    flex-direction: column;
}

.heading {
    padding: 0 0.6rem;
    text-shadow: 2px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.trips-cards-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 640px) {
    .trips-wrap {
        align-items: center;
        margin: 0 auto;
    }
}

.card-wrap {
    border: 1px solid lightgray;
    margin: 0.4rem;
    padding: 0.6rem;
    width: 90%;
}

@media only screen and (max-width: 968px) {
    .trips-cards-wrap {
        grid-template-columns: none;
    }
}

.category {
    color: slategray;
    font-size: 0.8rem;
    font-weight: 800;
}

.card-text {
    font-size: 0.8rem;
    font-weight: 800;
    margin: 4px 0;
}

.card-copy {
    font-size: 0.9rem;
    color: gray;
    letter-spacing: 0.6px;
}

.date-row {
    display: flex;
}

.image {
    width: 100%;
}

.img-row {
    flex: 1;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.nav-option {
    display: flex;
    align-items: center;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.opt-wrapper:hover .nav-option {
    cursor: pointer;
    text-shadow: 2px 2px 20px rgb(42, 143, 129);
    transform: rotate(-360deg);
    border-radius:5px;
    border:1px solid rgb(42, 143, 129);
}
